body{
    font-family: 'Montserrat', sans-serif;
    
}
h1{
    font-family:"Montserrat",sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 550;
}
h2{
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.5;
}
h3{
    font-weight: bold;
    font-size: 1.5rem;

}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 3% 15%;
   
}
.iphone-img{
    width: 18%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}

#title{
   background-color: #ff4c68;
   color: white;
}
/* navigation bar */
.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
font-size: 1.2rem;

}
.download-btn{
    margin: 5% 3% 5% 0%;
  
}
/* feature-section */
#features{
    padding: 7% 15%;
    background-color: #fff; 
    position: relative;
    z-index: 1;
   
}
.feature-box{
    text-align: center;
    /* padding: 3%; */
}
.feature-icon{
    color: #ef8172;
    margin-bottom: 1rem;
    /* font-size: 5rem; */
    /* padding: 15% 15%; */
    text-align: center;
}
.feature-icon:hover{
    color: #ff4c68;
}

/* testimonials section */
#testimonials{
    position: relative;
    z-index: 1;
    text-align: center;
    background-color: #ef8172;
    color: white;
}
.carousel-item{
    padding: 7% 15%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;

}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* pricing section */
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-column{
    padding: 3% 2%;
   
}
@media (max-width:1028px) {
    .iphone-img{
        width: 60%;
        transform: rotate(0deg);
        position: static;
        
    }
    .title-section{
        text-align: center;
    }
}

    /* call to action */
    #cta{
        background-color: #ff4c68;
        text-align: center;
        padding: 7% 15% 3%;
        color: white;
    }

/* footer section */
#footer{
    text-align: center;
    padding: 7% 15%;
    padding-bottom: 3%;
    background-color: #fff;
}
.social-media{
    padding: 3%;
    color: black;
    
}
.copy-right{
    padding: 3% 5%;
}